<div class="container-fluid footer">
    <div class="row">
        <!-- name -->
        <div class="col-lg-6">
            <h1>Wantfrom Restaurant</h1>
            <p class="item"><i class="bi bi-envelope-fill"></i>  restaurant@wantfrom.com.ar<p></p>
            <p class="item"><i class="bi bi-telephone-fill"></i>    Telefono: 011 2396-0065</p>
            <a class="legal" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">Aviso de privacidad </a>
        </div>


        <!-- social media -->
        <div class="col-lg-2 ms-auto">
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank"><i class="bi bi-facebook"></i></a>
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank"><i class="bi bi-whatsapp"></i></a>
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank"><i class="bi bi-instagram"></i></a>
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank"><i class="bi bi-twitter"></i></a>
        </div>

        <!-- derechos -->
        <div class="priv">
            <p>© 2021 Restaurant Wantfrom. Todos los derechos reservados.</p>
        </div>

    </div>
</div>