<div class="contact">

    <!-- formulario de reserva -->
    <div class="container-right">
        <form class="form">
            <h1 class="reserva">Hacé tu reserva!</h1>
            <input name="name" type="text" class="feedback-input" placeholder="Nombre" />
            <input name="email" type="text" class="feedback-input" placeholder="Telefono" />
            <textarea name="text" class="feedback-input"
                placeholder="Ingresa el horario y la fecha de la reserva. Luego nos contactaremos contigo!"></textarea>
            <input type="submit" value="ENVIAR" />
        </form>
    </div>

    <!-- datos -->
    <div class="container-left">
        <div class="row">
            <h1 class="title">Contacto: </h1>
            <p class="item"><i class="bi bi-geo-alt-fill"></i>  Dirección: Domingo Portela 1266, X5009 Córdoba<p>
            <p class="item"><i class="bi bi-clock-fill"></i>    Horarios: De Lunes a Viernes de 9:00 a 18:00</p>
            <p> </p>
            <p class="item"><i class="bi bi-telephone-fill"></i>    Telefono: 011 2396-0065</p>
        </div>
    </div>
</div>