<div class="container">
    <h1 class="menu-heading">Platos principales</h1>
    <div class="menu flex-row flex-wrap flex-center">
        
        <!-- aperitivos -->
        <div class="appetizers">
            <h2>Aperitivos</h2>

            <div class="menu-item">
                <span class="menu-item-title">Fresh Focaccia </span>
                <span>-</span>
                <span class="menu-item-price"> 6</span>
                <p class="menu-item-description">Pan focaccia horneado localmente sazonado con romero, servido con aceite de oliva y balsámico.</p>
            </div>
            <div class="menu-item">
                <img src="..\assets\images\focaccia.jpg">
            </div>

            <div class="menu-item">
                <span class="menu-item-title">Caprese Salad </span>
                <span>-</span>
                <span class="menu-item-price"> 8</span>
                <p class="menu-item-description">Mozzarella fresca, tomates y albahaca verde, sazonada con sal y aceite de oliva.</p>
            </div>
            <div class="menu-item">
                <img src="..\assets\images\capresse.jpg">
            </div>

            <div class="menu-item">
                <span class="menu-item-title">Prawn Cocktail </span>
                <span>-</span><span class="menu-item-price"> 9</span>
                <p class="menu-item-description">Langostinos sin cáscara de la zona en una rica salsa cóctel, servidos en copa.</p>
            </div>
            <div class="menu-item">
                <img src="..\assets\images\prawn.jpg">
            </div>

            <div class="menu-item">
                <span class="menu-item-title">Oyster Rockefeller </span>
                <span>-</span>
                <span class="menu-item-price"> 11</span>
                <p class="menu-item-description">
                    Ostras cubiertas con una mezcla de verduras finamente picadas, grandes cantidades de mantequilla y luego horneadas en sus conchas.</p>
            </div>
            <div class="menu-item">
                <img src="..\assets\images\oyster.jpg">
            </div>

        </div>

        <!-- entradas -->
        <div class="entrees">
            <h2>Entradas </h2>
            <div class="menu-item">
                <span class="menu-item-name">Burger Moderno </span>
                <span>-</span>
                <span class="menu-item-price"> 14</span>
                <p class="menu-item-description">Hamburguesa con calidad de bistec servida sobre lechuga fresca, tomate y cebolla. Elección de queso cheddar, gouda o gruyere.</p>
            </div>
            <div class="menu-item">
                <img src="..\assets\images\burger.jpg">
            </div>

            <div class="menu-item">
                <span class="menu-item-name">Lemon Red Snapper </span>
                <span>-</span>
                <span class="menu-item-price"> 28</span>
                <p class="menu-item-description">
                    Pargo rojo en escamas recién salido del horno, servido con mantequilla de hierbas derretida encima.</p>
            </div>
            <div class="menu-item">
                <img src="..\assets\images\lemon.jpg">
            </div>

            <div class="menu-item">
                <span class="menu-item-name">Steak Diane </span>
                <span>-</span>
                <span class="menu-item-price"> 32</span>
                <p class="menu-item-description">Bistec bañado en una maravillosa salsa aromatizada con mantequilla, vermú,
                    ajo, pimienta negra, mostaza, limón y salsa Worcestershire.</p>
            </div>
            <div class="menu-item">
                <img src="..\assets\images\steak.jpg">
            </div>

        </div>
    </div>
</div>